@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Creepster&family=Protest+Revolution&family=Reenie+Beanie&family=Rubik+Glitch&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
  background-color: #1a1a1a;
  color: #c0c0c0;
  font-family: sans-serif;
  margin: 0;
  padding: 0;

  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo-container {
  display: flex;
  align-items: center;
  
}

.logo-image {
  width: 90px;
  height: 90px;
  margin-right: 20px;
}

.logo-text {
  font-size: 6rem;
  font-weight: bold;
  letter-spacing: -2px;
  color: #ffffff;
  position: relative;
   font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo-text-sub {
  position: absolute;
  font-size: 2rem;
  bottom: -15px;
  right: -20px;
  font-style: italic;
  font-weight: normal;
  color: #ffcc00;
  font-family: "Reenie Beanie", cursive;
  font-weight: 400;
  font-style: normal;
}
nav {
    font-family: cursive;
    display: flex;
    justify-content: space-between;
    
    
}
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #4b6a8a;
  border-radius: 20px ;
  padding: 10px 20px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 15px;
  display: block;
}

nav a:hover {
    
    color: rgb(43, 161, 177);
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 5px;
  margin-bottom: 1px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all .15s ease;
}

.button::before,
.button::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7D8082;
  transition: all .15s ease;
}

.button::before {
  top: 0;
  border-bottom-width: 0;
}

.button::after {
  bottom: 0;
  border-top-width: 0;
}

.button:active,
.button:focus {
  outline: none;
}

.button:active::before,
.button:active::after {
  right: 3px;
  left: 3px;
}

.button:active::before {
  top: 3px;
}

.button:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #0f1923;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.button_lg::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all .2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #4b6a8a;
  transform: skew(-15deg);
  transition: all .2s ease;
}

.button_text {
  position: relative;
}

.button:hover {
  color: #0f1923;
}

.button:hover .button_sl {
  width: calc(100% + 15px);
}

.button:hover .button_lg::after {
  background-color: #fff;
}


